In [1]:
#导入pandas库
import pandas as pd

In [2]:
#将两个series对象作为字典的值创建DataFrame对象
population_dict = {'beijing': 2900, 'guangzhou': 3100, 'shanghai': 3400}
area_dict = {'beijing': 210, 'guangzhou': 260, 'shanghai': 270}
#创建Series对象
population_series = pd.Series(population_dict)
area_series = pd.Series(area_dict)
#创建DataFrame对象
data = pd.DataFrame({'area': area_series, 'population': population_series})
data

           area  population
beijing     210        2900
guangzhou   260        3100
shanghai    270        3400

In [3]:
# values index columns 属性
data.values

array([[ 210, 2900],
       [ 260, 3100],
       [ 270, 3400]], dtype=int64)

In [4]:
data.index

Index(['beijing', 'guangzhou', 'shanghai'], dtype='object')

In [5]:
data.columns

Index(['area', 'population'], dtype='object')

In [6]:
#使用列表来创建
data = pd.DataFrame([area_dict, population_dict])
data

   beijing  guangzhou  shanghai
0      210        260       270
1     2900       3100      3400

In [7]:
#设置行索引  index
data = pd.DataFrame([area_dict, population_dict], index=['area', 'population'])
data

            beijing  guangzhou  shanghai
area            210        260       270
population     2900       3100      3400

In [8]:
#直接传入Series
data = pd.DataFrame(population_series)
data

              0
beijing    2900
guangzhou  3100
shanghai   3400

In [9]:
#指定列索引   使用columns属性
data = pd.DataFrame(population_series, columns=['population'])
data

           population
beijing          2900
guangzhou        3100
shanghai         3400

In [10]:
data_dict = [{'a': i, 'b': i * 2} for i in range(3)]
data_dict
data = pd.DataFrame(data_dict, index=['A', 'B', 'C'])
data

   a  b
A  0  0
B  1  2
C  2  4

In [11]:
import numpy as np

In [12]:
#传入二维数组，指定columns  和index
pd.DataFrame(np.random.randint(0, 10, (3, 3)), columns=list('abc'), index=list('ABC'))

   a  b  c
A  6  3  5
B  6  7  1
C  4  3  3

In [14]:
p_dict = {'a':10,'b':20,'c':30,'d':40}
p_series = pd.Series(p_dict,index=['a','c','f']) #指定的index和字典的key做交集
p_series

a    10.0
c    30.0
f     NaN
dtype: float64