In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.Series([1,3,5,np.nan,5,6,None])
d

0    1.0
1    3.0
2    5.0
3    NaN
4    5.0
5    6.0
6    NaN
dtype: float64

In [3]:
d.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6     True
dtype: bool

In [4]:
#填充  fillna(100)
d.fillna(100)

0      1.0
1      3.0
2      5.0
3    100.0
4      5.0
5      6.0
6    100.0
dtype: float64

### method参数指定使用前一个  后一个值来填充

In [5]:
d.fillna(method='bfill')

0    1.0
1    3.0
2    5.0
3    5.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [6]:
d.fillna(method='ffill')

0    1.0
1    3.0
2    5.0
3    5.0
4    5.0
5    6.0
6    6.0
dtype: float64

In [7]:
d

0    1.0
1    3.0
2    5.0
3    NaN
4    5.0
5    6.0
6    NaN
dtype: float64

In [9]:
d.fillna(method='bfill').fillna(method='ffill')

0    1.0
1    3.0
2    5.0
3    5.0
4    5.0
5    6.0
6    6.0
dtype: float64

In [10]:
data = pd.DataFrame([[1,np.nan,3,4],[2,4,np.nan,5],[6,2,5,np.nan],[7,3,3,5]])
data

   0    1    2    3
0  1  NaN  3.0  4.0
1  2  4.0  NaN  5.0
2  6  2.0  5.0  NaN
3  7  3.0  3.0  5.0

In [11]:
#使用具体的值来填充
data.fillna(0)

   0    1    2    3
0  1  0.0  3.0  4.0
1  2  4.0  0.0  5.0
2  6  2.0  5.0  0.0
3  7  3.0  3.0  5.0

In [13]:
#使用前一个值来填充   默认以行为单位
data.fillna(method='ffill').fillna(method='bfill')

   0    1    2    3
0  1  4.0  3.0  4.0
1  2  4.0  3.0  5.0
2  6  2.0  5.0  5.0
3  7  3.0  3.0  5.0

In [14]:
#以列为单位进行填充   axis = 1  |"columns"
data

   0    1    2    3
0  1  NaN  3.0  4.0
1  2  4.0  NaN  5.0
2  6  2.0  5.0  NaN
3  7  3.0  3.0  5.0

In [15]:
data.fillna(method='ffill',axis=1)  #以列为单位  前一个值填充

     0    1    2    3
0  1.0  1.0  3.0  4.0
1  2.0  4.0  4.0  5.0
2  6.0  2.0  5.0  5.0
3  7.0  3.0  3.0  5.0

In [18]:
data.fillna(method='bfill',axis='columns').fillna(method='ffill',axis=1)

     0    1    2    3
0  1.0  3.0  3.0  4.0
1  2.0  4.0  5.0  5.0
2  6.0  2.0  5.0  5.0
3  7.0  3.0  3.0  5.0

In [19]:
#以每列的均值来填充
data

   0    1    2    3
0  1  NaN  3.0  4.0
1  2  4.0  NaN  5.0
2  6  2.0  5.0  NaN
3  7  3.0  3.0  5.0

In [20]:
data.columns

RangeIndex(start=0, stop=4, step=1)

In [27]:
for i in data.columns:
    mean = np.nanmean(data[i])  #每列除去nan后的均值
    print(mean)
    data[i] = data[i].fillna(mean)
data

4.0
3.0
3.6666666666666665
4.666666666666667

   0    1         2         3
0  1  3.0  3.000000  4.000000
1  2  4.0  3.666667  5.000000
2  6  2.0  5.000000  4.666667
3  7  3.0  3.000000  5.000000