In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.DataFrame([[1,2,np.nan],[3,np.nan,5],[7,3,8]])
data

   0    1    2
0  1  2.0  NaN
1  3  NaN  5.0
2  7  3.0  8.0

### 查看缺失值  info()

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
0    3 non-null int64
1    2 non-null float64
2    2 non-null float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes

### 查看缺失值  isnull()   notnull()

In [5]:
d = pd.Series([1,3,5,np.nan,53,np.nan,2,4])
d

0     1.0
1     3.0
2     5.0
3     NaN
4    53.0
5     NaN
6     2.0
7     4.0
dtype: float64

In [6]:
#使用isnull()
d.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
6    False
7    False
dtype: bool

In [7]:
#使用notnull()
d.notnull()

0     True
1     True
2     True
3    False
4     True
5    False
6     True
7     True
dtype: bool

In [8]:
#使用条件过滤  获取所有缺值
d[d.isnull()]

3   NaN
5   NaN
dtype: float64

In [9]:
#获取非空值
d[d.notnull()]

0     1.0
1     3.0
2     5.0
4    53.0
6     2.0
7     4.0
dtype: float64