In [2]:
import pandas as pd
import numpy as np

### 获取某列、某几列

In [3]:
data = pd.DataFrame(np.random.randint(1,10,(3,4)),index=list('abc'),columns=list('ABCD'))
data

   A  B  C  D
a  2  4  1  3
b  2  6  4  4
c  8  5  2  3

In [4]:
#df['列名']
#获取C列
data['C']

a    1
b    4
c    2
Name: C, dtype: int32

In [5]:
#获取A  C  D列  
data[['A','C','D']]

   A  C  D
a  2  1  3
b  2  4  4
c  8  2  3

### 使用位置索引获取某列、某几列    iloc[行,列]

In [6]:
#获取C列   位置索引 2
data.iloc[:,2]

a    1
b    4
c    2
Name: C, dtype: int32

In [7]:
#使用loc方法获取
data.loc[:,'C']

a    1
b    4
c    2
Name: C, dtype: int32

In [8]:
#获取多列   A  C  D
#使用位置索引 iloc
data.iloc[:,[0,2,3]]

   A  C  D
a  2  1  3
b  2  4  4
c  8  2  3

In [9]:
#使用普通索引  loc
data.loc[:,['A','C','D']]

   A  C  D
a  2  1  3
b  2  4  4
c  8  2  3

### 获取连续的几列

In [10]:
#使用普通索引 loc  获取B C D
data.loc[:,'B':'D']

   B  C  D
a  4  1  3
b  6  4  4
c  5  2  3

In [13]:
#使用位置索引  iloc
data.iloc[:,1:4]

   B  C  D
a  4  1  3
b  6  4  4
c  5  2  3

In [14]:
data

   A  B  C  D
a  2  4  1  3
b  2  6  4  4
c  8  5  2  3

### 获取某行、某几行

In [15]:
data.loc['a']

A    2
B    4
C    1
D    3
Name: a, dtype: int32

In [16]:
data.loc['c']

A    8
B    5
C    2
D    3
Name: c, dtype: int32

In [17]:
#使用位置索引获取  iloc
data.iloc[0]

A    2
B    4
C    1
D    3
Name: a, dtype: int32

In [18]:
data.iloc[2]

A    8
B    5
C    2
D    3
Name: c, dtype: int32

In [19]:
#获取 a  c行
#使用普通索引获取
data.loc[['a','c']]

   A  B  C  D
a  2  4  1  3
c  8  5  2  3

In [20]:
#使用位置索引获取
data.iloc[[0,2]]

   A  B  C  D
a  2  4  1  3
c  8  5  2  3

### 获取连续的某几行

In [21]:
#使用普通索引获取  a   b
data.loc['a':'b']

   A  B  C  D
a  2  4  1  3
b  2  6  4  4

In [23]:
#使用位置索引获取
data.iloc[0:2]

   A  B  C  D
a  2  4  1  3
b  2  6  4  4

### 同时获取连续部分行和部分列

In [24]:
#使用普通索引获取
data.loc['a':'b','A':'B']

   A  B
a  2  4
b  2  6

In [25]:
#使用位置索引获取
data.iloc[0:2,0:2]

   A  B
a  2  4
b  2  6

### 获取不连续的部分行部分列

In [26]:
#使用普通索引  a c 行  A B  D列
data.loc[['a','c'],['A','B','D']]

   A  B  D
a  2  4  3
c  8  5  3

In [27]:
#使用位置索引获取
data.iloc[[0,2],[0,1,3]]

   A  B  D
a  2  4  3
c  8  5  3